{% extends "base.html" %}

{% block content %}
    {% if not beers %}
        <h1>Results</h1>
        <p>Sorry couldn't find {{search}}. <a href="/search">Search again</a>.</p>
    {% else %}
        <h1>{{ search }} Beers</h1>
        {% for beer in beers %}
            {% if forloop.first %}
                <ul>
            {% endif %}

            <li><a href="/beer/{{ beer.id }}">{{ beer.name }}</a></li>

            {% if forloop.last %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}


{% endblock %}
